<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="vue.js"></script>
    <link href="./alphaM.css" rel="stylesheet">
</head>
<body>
<div class="titleDiv">
    <div></div>
    <h1>Alpha M</h1>
    <div class="navbar">
        <a href="#Accueil">Accueil</a>
        <a href="#Cours">Cours</a>
        <a href="#QCM">QCM</a>
        <a href="#Contacts">Contact</a>
    </div>
</div>


<div>
    <div id="Accueil" class="section">
        Ici l'accueil
    </div>
    <div id="Cours" class="section">
        Ici le cours
    </div>
    <div id="QCM" class="section">
        Ici le qcm
		
		<!-- Essaie de QCM no done -->
		<h2>Essaie de QCM (no done)</h2>
		<div id="app-8">
            <!-- Titre du quiz -->
            <h1>{{ quiz.title }}</h1>
            <!-- Questions: on affiche une div pour chaque question -->
            <div v-for="question in quiz.questions">
                <h2>{{ question.text }}</h2>
                <!-- Responses: on affiche une balise li pour chaque réponse possible -->
                <ol>
                    <li v-for="response in question.responses">
                        <label>
                            <input type="radio" name="question.name"
                                   v-bind:value="response.correct" 
                                   v-on:change="verif"
                                   > 
                            <span>{{response.text}}</span>
                            <!--<span v-if="response.correct">,{{response.message}}</span>-->
                        </label>
                    </li>
                </ol>
            </div>
        </div>

    </div>
    <div id="Contacts" class="section">
        Ici contacts
    </div>

</div>
</body>
<script type="text/javascript" src="main.js">

</script>

</html>